<form class="form-signin text-center">
  <div class="card p-5 shadow-sm">
    <div class="text-center">
      <img class="mb-1" src="/img/login.png" alt="Login Image" width="72" height="72">
    </div>

    <h1 class="h2 mb-5 font-weight-bold">
      ورود
    </h1>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><i class="fa fa-user-circle"></i></span>
      </div>

      <input 
        id="inputEmail"
        type="email" 
        class="form-control border-right-0" 
        placeholder="ایمیل ..." 
        required 
        autofocus
      >
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><i class="fa fa-key"></i></span>
      </div>

      <input 
        id="inputPassword"
        type="password" 
        class="form-control border-right-0" 
        placeholder="کلمه عبور ..."
        required
      >
    </div>

    <div class="checkbox mb-4 text-left">
      <label class="pr-0">
        <input type="checkbox" value="remember-me" class="mr-2">

        <small>من را به خاطر بسپار</small>
      </label>
    </div>

    <button 
      class="btn btn-lg btn-outline-success btn-block" 
      type="submit">
      ورود
    </button>
  </div>
</form>
